SECRET_KEY=django-insecure-1ix%t%23^#y05)8d)u8xbc^woo+ncoljy)u$42zp&qtca+5zt%^p$
DEBUG=True
DB_ENGINE=django.db.backends.postgresql
DB_NAME=crawler_db
DB_USER=crawler_user
DB_PASSWORD=super_secret_password
DB_HOST=db
DB_PORT=5432
CELERY_BROKER_URL=redis://redis:6379/0